{:deps {day8/re-frame          {:local/root "../.."}
        com.pitch/uix.core     {:mvn/version "1.3.0"}
        com.pitch/uix.dom      {:mvn/version "1.3.0"}
        day8/shadow-git-inject {:mvn/version "0.0.5"}
        thheller/shadow-cljs   {:mvn/version "2.25.2"}
        hashp/hashp            {:mvn/version "0.2.2"}}}
